%-*-Erlang-*-
% vim: ts=8 sw=8 ft=erlang

{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_exported_vars,
    {parse_transform, lager_transform},
    {parse_transform, cut},
    {parse_transform, do},
    {parse_transform, import_as}
]}.

{deps, [
        {lager,         {git, "https://github.com/erlang-lager/lager.git",                {tag, "3.6.7"}}},
        {erlando,       {git, "https://github.com/ChicagoBoss/erlando.git",               {ref, "680688f"}}},
        {aleppo,        {git, "https://github.com/ErlyORM/aleppo.git",                    {tag, "v0.9.4"}}},
        {medici,        {git, "https://github.com/ErlyORM/medici.git",                    {ref, "bb6167459d"}}},

        % for Erlang 17 uncomment line below (using legacy branch of bson)
        %{bson,          {git, "https://github.com/comtihon/bson-erlang",                  {branch, "legacy"}}},
        %{mongodb,       {git, "https://github.com/comtihon/mongodb-erlang",               {tag, "v0.7.9"}}},

        % riak_pb not compatible with Erlang 18, so commented for now
        % uncomment line below if you need Riak support and have Erlang < 18
        %{riakc,         {git, "https://github.com/ErlyORM/riak-erlang-client.git",        {tag, "1.3.0-boss"}}},

        {ddb,           {git, "https://github.com/ErlyORM/ddb.git",                       {tag, "v0.1.7"}}},
        {epgsql,        {git, "https://github.com/epgsql/epgsql.git",                     {tag, "4.2.0"}}},
        {erlmc,         {git, "https://github.com/layerhq/erlmc.git",                     {ref, "c5280da"}}},
        {mysql,         {git, "https://github.com/ErlyORM/erlang-mysql-driver.git",       {tag, "v0.0.4"}}},
        {poolboy,       {git, "https://github.com/devinus/poolboy.git",                   {tag, "1.5.2"}}},
        {uuid,          {git, "https://github.com/avtobiff/erlang-uuid.git",              {tag, "v0.5.2"}}},
        {redo,          {git, "https://github.com/heroku/redo.git",                       {ref, "cd75a11"}}},
                                                                                          % boss_branch for ets_cache
        {ets_cache,     {git, "https://github.com/cuongth/ets_cache.git",                 {ref, "c7a17204cd"}}},
        {dh_date,       {git, "https://github.com/daleharvey/dh_date.git",                {ref, "23e5a61"}}},
        {tiny_pq,       {git, "https://github.com/ChicagoBoss/tiny_pq.git",               {tag, "v0.9.0"}}}
  ]}.

%% == Dialyzer ==
{dialyzer, [
    {warnings, [error_handling, race_conditions, unmatched_returns, underspecs]},
    {get_warnings, false},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "boss_db"},
    {base_plt_apps, [stdlib, kernel, erts]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

{cover_enabled, true}.

{plugins, []}.

{profiles,
    [{test, [
        {deps, [
            {proper,        {git, "https://github.com/manopapad/proper.git",                  {ref, "v1.3"}}},
            {boss_test,     {git, "https://github.com/ChicagoBoss/boss_test.git",             {tag, "0.0.1"}}}
        ]}
    ]},
    {boss_test, [
         {erl_opts, [{d, boss_test}]}
    ]},
    {prod, [
        %{erl_opts, [warnings_as_errors]}
    ]}
]}.
