%-*-Erlang-*-
% vim: ts=8 sw=8 ft=erlang

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {parse_transform, cut},
    {parse_transform, do},
    {parse_transform, import_as}
]}.
{deps, [
        {lager,                                                                           "2.1.1"},
        {erlando,       {git, "https://github.com/ChicagoBoss/erlando.git",               {ref, "b0b77dd9b9"}}},
        {aleppo,        {git, "https://github.com/ErlyORM/aleppo.git",                    {ref, "ee1056f740"}}},
        {medici,        {git, "https://github.com/ErlyORM/medici.git",                    {ref, "bb6167459d"}}},

        % Different version of mongodb driver and bson breaking compilation
        % on different Erlang version. So disabling them by default. Uncomment one
        % of options below, if you need mongodb driver
        % for Erlang = 17
        %{bson,          {git, "https://github.com/comtihon/bson-erlang",                  {branch, "legacy"}}},
        %{mongodb,       {git, "https://github.com/comtihon/mongodb-erlang",               {tag, "v0.7.9"}}},
        % for Erlang >= 18
        %{mongodb,       {git, "https://github.com/comtihon/mongodb-erlang",               {tag, "v0.7.9"}}},

        % riak_pb not compatible with Erlang 18, so commented for now
        % uncomment line below if you need Riak support and have Erlang < 18
        %{riakc,         {git, "https://github.com/ErlyORM/riak-erlang-client.git",        {tag, "1.3.0-boss"}}},

        {ddb,           {git, "https://github.com/ErlyORM/ddb.git",                       {tag, "v0.1.3"}}},
        {epgsql,        {git, "https://github.com/epgsql/epgsql.git",                     {ref, "c7dfb064811"}}},
        {erlmc,         {git, "https://github.com/layerhq/erlmc.git",                     {ref, "1c17552"}}},
        {mysql,         {git, "https://github.com/ErlyORM/erlang-mysql-driver.git",       {tag, "v0.0.1"}}},
        {poolboy,                                                                         "1.5.1"},
        {uuid,          {git, "https://github.com/avtobiff/erlang-uuid.git",              {tag, "v0.5.0"}}},
        {redo,                                                                            "2.0.0"},
                                                                                                % boss_branch for ets_cache
        {ets_cache,     {git, "https://github.com/cuongth/ets_cache.git",                 {ref, "c7a17204cd"}}},
        {dh_date,       {git, "https://github.com/zotonic/dh_date.git",                   {ref, "473ad8c473"}}},
        {tiny_pq,       {git, "https://github.com/ChicagoBoss/tiny_pq.git",               {tag, "v0.8.15"}}},
        {boss_test,     {git, "https://github.com/ChicagoBoss/boss_test.git",             {tag, "0.0.1"}}}
  ]}.

{cover_enabled, true}.

{plugins, [rebar3_proper]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions, unmatched_returns, underspecs]},
    {get_warnings, true}
]}.

{profiles,
    [{test, [
        {deps, [
            {proper, "1.1.1-beta"}
        ]}
    ]},
    {boss_test, [
         {erl_opts, [{d, boss_test}]}
    ]},
    {prod, [
        {erl_opts, [warnings_as_errors]}
    ]}
]}.
