%-*-Erlang-*-
% vim: ts=8 sw=8 ft=erlang

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {parse_transform, cut},
            {parse_transform, do},
            {parse_transform, import_as},
            {d, boss_test}
]}.
{deps, [
        {lager,         ".*",   {git, "git://github.com/basho/lager.git",                       {tag, "2.0.3"}}},
        {erlando,       ".*",   {git, "git://github.com/ChicagoBoss/erlando.git",               {tag, "b0b77dd9b9"}}},
        {aleppo,        ".*",   {git, "git://github.com/ChicagoBoss/aleppo.git",                {tag, "bef139e4c7"}}},
        {ddb,           ".*",   {git, "git://github.com/Concurix/ddb.git",                      {tag, "acad8af654"}}},
        {epgsql,        ".*",   {git, "git://github.com/epgsql/epgsql.git",                     {tag, "c7dfb064811"}}},
        {erlmc,         ".*",   {git, "git://github.com/bipthelin/erlmc.git",                   {tag, "3062f8deb7"}}},
        {medici,        ".*",   {git, "git://github.com/ChicagoBoss/medici.git",                {tag, "bb6167459d"}}},
        {mongodb,       ".*",   {git, "git://github.com/ChicagoBoss/mongodb-erlang.git",        {tag, "ce9bf77902"}}},
        {mysql,         ".*",   {git, "git://github.com/dizzyd/erlang-mysql-driver.git",        {tag, "16cae84b5e"}}},
        {poolboy,       ".*",   {git, "git://github.com/devinus/poolboy.git",                   {tag, "64e1eaef0b"}}},
        {riakc,         ".*",   {git, "git://github.com/ChicagoBoss/riak-erlang-client.git",    {tag, "1.3.0-boss"}}},
        {tiny_pq,       ".*",   {git, "git://github.com/ChicagoBoss/tiny_pq.git",               {tag, "v0.8.9"}}},
        {uuid,          ".*",   {git, "git://gitorious.org/avtobiff/erlang-uuid.git",           {tag, "9cfe9666f1"}}},
        {redo,          ".*",   {git, "git://github.com/JacobVorreuter/redo.git",               {tag, "7c7eaef4cd"}}},
                                                                                                % boss_branch for ets_cache
        {ets_cache,     ".*",   {git, "git://github.com/cuongth/ets_cache.git",                 {tag, "c7a17204cd"}}},
        {proper,        ".*",   {git, "git://github.com/manopapad/proper.git",                  {tag, "d90fc40579"}}},
        {dh_date,       ".*",   {git, "git://github.com/zotonic/dh_date.git",                   {tag, "473ad8c473"}}},
        {boss_test,     ".*",   {git, "git://github.com/ChicagoBoss/boss_test.git",             {tag, "0.0.1"}}}
  ]}.

{cover_enabled, true}.
{plugins, [rebar_ct]}.

